site_name: VATSSA Policy Hub
site_url: https://policy.vatssa.com
theme:
  name: material
  features:
    - navigation.instant
    - navigation.path
    - navigation.top
    - toc.follow
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: teal
      accent: purple
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: teal
      accent: lime
markdown_extensions:
  - admonition
  - footnotes

plugins:
  - search:
      lang: en
  - git-revision-date-localized:
      type: date
      strict: false
  - glightbox:
      touchNavigation: true
      effect: zoom
      width: 100%
      height: auto
      zoomable: true
      draggable: false

# Navigation Structure
nav:
  - Home: index.md
  - Membership:
      - Transfer & Visiting Controller Policy: tvcp/overview.md
  - Controller:
      - Currency Policy: currency/overview.md
      - FSS Policy: fss/overview.md
  - ATC Training:
      - ATC Training Policy: atc-training/overview.md
      - Solo Certification Policy: solo/overview.md
      - Fast Track Paths: fast-track/overview.md
  - Virtual Airlines:
      - Regional Virtual Airlines Policy: rva/overview.md
  - Division:
      - Staff Policy: staff/overview.md
      - Sector Files: sector-files/overview.md
      - Meeting Minutes: meeting-minutes/overview.md
